@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #222 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
}

.logo{
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
}
.header {
    margin: 50px auto;
}
.presentation {
    margin: 50px 0;
    background: url('/src/img/header.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}
.presentation::after {
    content: "Самые лучшие товары для вашего дома";
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 40px;
    width: 500px;
    font-weight: 600;
    color: #fff;

}

.presentation::before {
    content: "По низким ценам";
    position: absolute;
    top: 220px;
    left: 50px;
    font-size: 20px;
    width: 300px;
    font-weight: 600;
    color: #fff;

}

footer {
    text-align: center;
    margin: 20px;
}

.nav {
    float: right;
    list-style: none;
}
.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}
.nav li:hover {
    opacity: .5;
}